header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #8b0000;
  color: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 100px;
}

header .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .actions .rules,
header .actions .profile {
  font-size: 16px;
  margin-left: 30px;
}

header .actions a {
  white-space: nowrap;
}

header .search-container {
  flex-grow: 1;
  max-width: 500px;
  margin-right: auto;
}

header .search-container input[type="text"] {
  width: 100%;
  font-size: 20px;
  border: none;
  background-color: #8b0000;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}
