* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling for the body */
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.search-container input {
  width: 50%;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #daa520;
  box-shadow: 0 1px 3px #ffd700;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  margin: 0 auto;
}

.side-categories {
  display: grid;
}

.scrollable-container {
  overflow-x: auto; /* Keep horizontal scroll for scrolling containers */
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
  width: 100%;
  max-width: 100%; /* Ensure it doesn't exceed viewport */
}

.scrollable-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.main-categories {
  display: flex;
  width: 100%; /* Ensure main categories do not exceed width */
}

.category {
  flex: 0 0 225px; /* Fixed width for each category */
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 18px;
  border: 1px solid #e5e5e5;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  user-select: none;
}

.category a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.scrollable-container .category:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e5e5;
}

.side-category {
  flex: 0 0 225px; /* Fixed width for side categories */
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 18px;
  border: 1px solid #e5e5e5;
}

.side-category:hover {
  transform: none;
  box-shadow: none;
  border: 1px solid #e5e5e5;
}

.scrollable-container.active {
  cursor: grabbing;
}

/* Newest Posts Section */
.newest-posts {
  padding: 20px;
}

.newest-posts h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.topic-list {
  margin-top: 20px;
}

.topic-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.topic-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.topic-title a {
  color: #007bff;
  text-decoration: none;
}

.topic-title a:hover {
  text-decoration: underline;
}

.topic-meta {
  flex-grow: 1;
}

.topic-meta span {
  display: block;
  font-size: 14px;
  color: #666;
  margin-top: 3px;
}

.replies-views {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
  color: #666;
}
